<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQXw7pKaLaXXL-5t9oOzxgnsjnz9Cq0TM</string>
	<key>GCM_SENDER_ID</key>
	<string>83397494665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mehyay.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mehyay-2d41b</string>
	<key>STORAGE_BUCKET</key>
	<string>mehyay-2d41b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83397494665:ios:509e25ad1e7d934b3ec358</string>
</dict>
</plist>